[Unit]
Description=Aptly REST API service

[Service]
Environment=TERM=dumb
User=aptly
WorkingDirectory=/var/lib/aptly
ExecStart=/usr/bin/aptly api serve -gpg-provider=internal -listen localhost:8000

[Install]
WantedBy=multi-user.target
